black==26.3.1  # dev only
bosesoundtouchapi==1.0.86
fastapi[standard]==0.136.1
fastapi-etag==0.4.0
httpx==0.28.1
gunicorn==25.3.0
isort==8.0.1  # dev only
mypy==2.1.0  # dev only
paramiko==4.0.0
pydantic-settings==2.14.1
pytest==9.0.3  # dev only
pytest-cov==7.1.0  # dev only
scp==0.15.0
types-paramiko==4.0.0.20260408
upnpclient==2.0.3
